name: Automated API tests using Postman CLI simpleBookAPI

on: push

env: 
  BASE_URI: 'https://simple-books-api.glitch.me'
  POSTMAN_API_KEY: ${{ secrets.POSTMAN_API_KEY }}
  POSTMAN_COLLECTION_UID: '31080467-cda62753-cdd8-4bf8-911d-1bbf60e3bc41'
  POSTMAN_ENVIRONMENT_UID: '31080467-620f9418-ad96-47c6-b7fc-6ad83f35c305'

jobs:
  automated-api-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install Newman
        run: |
          npm install -g newman
      - name: Install Newman reporter
        run: |
          npm install -g newman-reporter-html
      - name: Fetch Postman collection
        run: |
          curl -X GET "https://api.getpostman.com/collections/${POSTMAN_COLLECTION_UID}" \
            -H "X-Api-Key: ${POSTMAN_API_KEY}" > collection.json
        shell: bash
      - name: Fetch Postman environment
        run: |
          curl -X GET "https://api.getpostman.com/environments/${POSTMAN_ENVIRONMENT_UID}" \
            -H "X-Api-Key: ${POSTMAN_API_KEY}" > environment.json
        shell: bash
      - name: Run API tests
        run: |
          newman run collection.json --environment environment.json --reporters cli,html --reporter-html-export "./report.html"
      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: report.html