name: Automated API tests using Postman CLI

on:
  push:
    branches:
      - main

env:
  BASE_URI: https://simple-books-api.glitch.me
  POSTMAN_API_KEY: ${{ secrets.POSTMAN_API_KEY }}
  POSTMAM_COLLECTION_UID: '31080467-bb16c346-603e-41b3-8729-f23af7d0cdf2'
  POSTMAM_ENVIRONMENT_UID: '31080467-47a22cc7-57ce-448b-b27b-d5928a4b4013'

jobs:
  automated-api-tests:
    runs-on: ${{ matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install Newman
        run: |
          npm install -g newman
      - name: Install newman reporter
        run: |
          npm install -g newman-reporter-html
      - name: Fetch Postman collection
        run: |
          curl -X GET "https://api.getpostman.com/collections/${POSTMAN_COLLECTION_UID}" \
            -H "X-Api-Key: ${POSTMAN_API_KEY}" > collection.json
        shell: bash
      - name: Fetch postman environment
        run: |
          curl -X GET "https://api.getpostman.com/collections/${POSTMAM_ENVIRONMENT_UID}" \
            -H "X-Api-Key: ${POSTMAN_API_KEY}" > environment.json
        shell: bash
      - name: Run API tests
        run: |
          newman run collection.json --environment environment.json --reporters cli,html --reporter-html-export "./report.html"
      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: report.html